<header class="header">
  <h3><a href="/about" class="logo">About this <span>project</span></a></h3>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/users">Login</a></li>
  </ul>
</header>
<div id="wrapper"></div>

<div id="banner">
  <div id="bannertext">
    <h1>Fire prevention UFPS</h1>
    <p>A project from Norte de Santander to Norte de Santander</p>
  </div>
</div>

<div id="content">
  <h2>About us</h2>
  <p>Francisco de Paula Santander University, in its quest to supply regional needs, seeks day by day to improve the quality of life of the population through the implementation of projects that integrate information technology ICT. With this project, the research and development group in electronics and telecommunications (GIDET) has focused on the implementation of a network of wireless sensors that allow fire prevention through an early warning in real-time.</p>
  <p>Climate change and the child phenomenon have been major triggers of forest fires in many parts of the world. In Colombia, these phenomena have increased their impact to the point of triggering large conflagrations in the hills of our country. Wildfires can ruin homes and cause injuries or death to people and animals. A wildfire is an unplanned fire that burns in a natural area such as a forest, grassland, or prairie. </p>
  <p>Thus, this project was born to safeguard the integrity of the population and the ecosystem of the rural areas of Norte de Santander. Our goal is to prevent fires in the rural areas of our department by providing real-time monitoring of the environmental variables that can trigger fire fires. This project can be widely scalable to other sites in the country. If you are interested in knowing more about us, <a href="/contact">contact us!</a>.</p>
</div>

<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Fire prevention <span>UFPS</span></h3>

    <p class="footer-links">
      <a href="/" class="link-1">Home</a>
    
      <a href="/about">About</a>
      
      <a href="/contact">Contact</a>
      
      <a href="/users">Login</a>
    </p>

    <p class="footer-company-name">Jhon Castro, UFPS © 2020</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Address </span> City, State</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+1 xxx-xxx-xxxx</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:xxxx@gmail.com">wsnufpsproject@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>The project</span>
      A project from Francisco de Paula Santander University to Norte de Santander.
    </p>

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>

    </div>

  </div>

</footer>
<script type="text/javascript" src="/javascripts/about.js"></script>
