<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <style>

      body, html {
        margin: 0;
        padding: 0;
        font-family: "Times New Roman", Times, serif;
        font-weight: 300;
        font-size: 24px;
      }

      h1 {
        padding: 20px 0;
        font-weight: 400;
        box-sizing: border-box;
        margin: 30px 0;
        font-size: 1.4rem;
      }

      h2 {
        padding: 20px 0;
        text-align: center;
        width: 100%;
        font-weight: 400;
        box-sizing: border-box;
        font-size: 1.2rem;
      }

      h3 {
        padding: 10px 0;
        font-weight: 400;
        margin: 0 auto;
        font-size: 1.1rem;
      }

      i {
        font-size: 90%;
      }

      figure {
        width: 100%;
        margin: 0;
      }

      figcaption {
        text-align: center;
      }

      #container {
        background-color: white;
        width: 100%;
        margin: 0 auto;
        text-align: justify;
        box-sizing: border-box;
        padding: 30px 0; 
      }

      #content h1, #content h2, #content p{
        padding: 0 30px;
      }

      a {
        color: #20b2aa !important;
      }

      a:hover{
        color: #62c9c3 !important;
      }


      footer {
        background-color: #666;
        width: 100%;
        margin: 0 auto;
        color: white;
        box-sizing: border-box;
        padding-bottom: 30px;
      }

      footer ul{
        margin: 0 auto;
        list-style: none;
        padding: 0px;
      }

      footer h3{
        display: block; 
      }

      footer span{
        color: #20b2aa;
      }

      footer a{
        color: #20b2aa !important;
        display: block;
      }

      footer p {
        text-align: center;
      }

      footer div {
        width: 100%;
        box-sizing: border-box;
      }

      footer section {
        width: 100%;
        box-sizing: border-box;
        display: block;
        padding-right: 30px;
        padding-left: 50px;
        padding-top: 30px;
        margin: 0 auto;
        text-align: center;
        vertical-align: middle;
        min-width: 200px;
      }

      .t-server {
        text-align: center;
      }

      .server{
        text-align: left;
        display: inline-block;
        width: auto;
      }

      .p-server {
        text-align: justify;
        display: inline-block;
      }

      footer section {
          width: 49%;
          display: inline-block;
        }

        footer section#last {
          width: 100%;
        }


      @media screen and (max-device-width: 767px),
              screen and (max-width: 767px)     {

        footer section {
          padding: 0 30px;
          padding-top: 30px;
          width: 100%;
          display: block;
        }

         body, html {
          font-size: 16px;
        }

        h1 {
          font-size: 1.3rem;
        }

        h2 {
          font-size: 1.2rem;
        }

        h3 {
          font-size: 1.1rem;
        }
      }

    </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
