<div id="container">
  <div id="content">
    <h1>Hello {{name}}!</h1>
    <p>Thanks for contacting us, our team will contact you back as soon as possible!</p>
    <p>Meanwhile we want to tell you a little about us:</p>
    <h2>Why we developed this project</h2>
    <figure>
      <img src="https://wsnufpsproject.ga/images/tasajero.jpg" alt="tasajero" style="width:100%">
      <figcaption><i>Cerro Tasajero - Cúcuta, Norte de Santander</i></figcaption>
    </figure>
    <p>Francisco de Paula Santander University, in its quest to supply regional needs, seeks day by day to improve the quality of life of the population through the implementation of projects that integrate information technology ICT. With this project, the research and development group in electronics and telecommunications (GIDET) has focused on the implementation of a network of wireless sensors that allow fire prevention through an early warning in real-time.</p>
    <p>Climate change and the child phenomenon have been major triggers of forest fires in many parts of the world. In Colombia, these phenomena have increased their impact to the point of triggering large conflagrations in the hills of our country. Wildfires can ruin homes and cause injuries or death to people and animals. A wildfire is an unplanned fire that burns in a natural area such as a forest, grassland, or prairie. </p>
    <p>Thus, this project was born to safeguard the integrity of the population and the ecosystem of the rural areas of Norte de Santander. Our goal is to prevent fires in the rural areas of our department by providing real-time monitoring of the environmental variables that can trigger fire fires. This project can be widely scalable to other sites in the country. If you are interested in knowing more about us, contact us!.</p>
  </div>
</div>

<footer>
  
  <section>
    <h3>Fire prevention<span> UFPS</span></h3>
    <p> A project from Francisco de Paula Santander University to Norte de Santander.</p>
  </section>
  <section>
    <h3>Visit our website</h3>
    <a href="https://www.wsnufpsproject.ga">www.wsnufpsproject.ga</a>
    <h3>Contact us via email</h3>
    <a href="mailto:wsnufpsproject@gmail.com">wsnufpsproject@gmail.com</a>
  </section>   
  
  <section id= "last">
    <ul>
      <li><h3>All rights reserved</h3></li>
      <li>Jhon Castro, UFPS © 2020</li>
      <li>404 Stamford Dr Newark, Delaware</li>
      <li>+1 302-357-5863</li>
    </ul>
  </section>
</footer>