<div id="container">
  <div id="content">
    <h1>Hi {{username}}!</h1>
    <p>This is a confirmation that the password for your account has been changed successfully. You can access now by using this <a href="https://www.wsnufpsproject.ga/users">link</a> </p>
    <p>If you did not request this, please change your password inmediately using this <a href="https://www.wsnufpsproject.ga/users/identify">link</a>.</p>
    <br>
    <p>Thank you</p>
  </div>
</div>

<footer>
  
  <section>
    <h3>Fire prevention<span> UFPS</span></h3>
    <p> A project from Francisco de Paula Santander University to Norte de Santander.</p>
  </section>
  <section>
    <h3>Visit our website</h3>
    <a href="https://www.wsnufpsproject.ga">www.wsnufpsproject.ga</a>
    <h3>Contact us via email</h3>
    <a href="mailto:xxxxx@gmail.com">xxxxx@gmail.com</a>
  </section>   
  
  <section id= "last">
    <ul>
      <li><h3>All rights reserved</h3></li>
      <li>Jhon Castro, UFPS © 2020</li>
      <li>404 Stamford Dr Newark, Delaware</li>
      <li>+1 302-357-5863</li>
    </ul>
  </section>
</footer>
